:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(170, 167, 231, 0.3);
    position: absolute;
}

.preloader {
    width: 80px;
    height: 80px;
}